.logo.link {
  display: block;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #000000;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.4;
  text-decoration: none;
}

.logo--acentcolor {
  color: $acent-color;
}